@keyframes shakeX {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }
  
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}

.alert.shake {
    animation: shakeX 1s;
}
#main-page-loading-alert {
    box-shadow: 0 .1rem .3rem -.1rem #856404;
    display: flex;
    align-items: center;
    gap: .6rem;
    position: fixed;
    z-index: 1;
    right: 1rem;
}