@import "../scss/navbar";

#feedback {
    min-height: 8rem;
}

@keyframes headShake {
    0% {
      transform: translateX(0);
    }
  
    6.5% {
      transform: translateX(-6px) rotateY(-9deg);
    }
  
    18.5% {
      transform: translateX(5px) rotateY(7deg);
    }
  
    31.5% {
      transform: translateX(-3px) rotateY(-5deg);
    }
  
    43.5% {
      transform: translateX(2px) rotateY(3deg);
    }
  
    50% {
      transform: translateX(0);
    }
}
.headShake {
    animation: 1s ease-in-out headShake;
}

#alert-container {
    margin-top: .3rem;
    > .alert {
        display: none;
    }
}

#invalid-captcha {
    color: var(--red);
    font-weight: bold;
    display: none;
}