@import "scss/forms";
@import "scss/icons";
@import "scss/schedule-grid";
@import "scss/export";
@import "scss/course-search";
@import "scss/custom-course";
@import "scss/course-bubbles";
@import "scss/course-list";
@import "scss/alert";

html {
    --lightgray: rgb(200, 200, 200);

    --bubble-red: hsl(0, 81%, 46%);
    --bubble-blue: hsl(246, 64%, 50%);
    --bubble-green: hsl(117, 81%, 30%);
    --bubble-orange: hsl(28, 73%, 40%);
    --bubble-purple: hsl(303, 81%, 38%);
    --bubble-teal: hsl(184, 63%, 38%);
    --bubble-brown: hsl(30, 40%, 34%);
    --bubble-cyan: hsl(220, 51%, 51%);
    --bubble-crimson: hsl(0, 46%, 39%);
    --bubble-stone: hsl(163, 29%, 35%);
    --bubble-indigo: hsl(284, 79%, 22%);
}

button:disabled {
    cursor: not-allowed;
}
button.dropdown-item:disabled {
    pointer-events: all;
}

::-webkit-scrollbar {
	width: .7rem;
	height: .7rem;
}
::-webkit-scrollbar-thumb {
	background: rgba(100, 100, 100, 0.6);
	border-radius: .8rem;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(100, 100, 100, 1);
}

.bootstrap-datetimepicker-widget {
    width: fit-content !important;
}
.bootstrap-datetimepicker-widget table td {
    padding: 0;
    border: none;
}

.table th {
    border-top: none;
}

#navbar {
    padding: 0.7rem 2rem;
    box-shadow: 0px -0.125rem 0.3125rem 0.3125rem rgba(108, 117, 125, 0.8);
    position: sticky;
    top: 0;
    z-index: 10;
}
#navbar .navbar-brand {
    flex-grow: 1;
}
.nav-icon {
	font-size: 1.5em;
	position: relative;
	top: .1rem;
	margin-right: .3rem;
}
.nav-link {
	cursor: pointer;
}
@media (max-width: 929px) {
    .navbar-brand-930 {
        display: none;
    }
}
@media (max-width: 799px) {
    .navbar-brand-800 {
        display: none;
    }
}

.popover {
    box-shadow: .125rem .125rem .3rem rgba(108, 117, 125, 0.8);
}

.dropdown-menu {
	box-shadow: .125rem .125rem .3rem rgba(108, 117, 125, 0.8);
}
.dropdown-item {	
	transition: background-color .15s ease-in-out;
}
.dropdown-icon {
	font-size: 1.25rem;
	position: relative;
	top: -.05rem;
	margin-right: .3rem;
}